{% load static %}
<strong>
  {% if request.user.is_authenticated %}
    {% if liked_by_user %}
      <form action="{% url "like-post" post.slug %}"
            class="d-inline"
            method="POST">
        {% csrf_token %}
        <button type="submit"
                value="{{ post.slug }}"
                class="text-danger bg-transparent border-0 mt-5"
                id="unlike-button">
          <i class="fa-solid fa-heart"></i>
        </button>
      </form>
    {% else %}
      <form action="{% url "like-post" post.slug %}"
            class="d-inline"
            method="POST">
        {% csrf_token %}
        <button type="submit"
                value="{{ post.slug }}"
                class="text-secondary bg-transparent border-0 mt-5"
                id="like-button">
          <i class="fa-solid fa-heart"></i>
        </button>
      </form>
    {% endif %}
  {% else %}
    <div class="pt-4 mt-3 px-4 fs-5">
      <small class="text-muted mb-3">Already have an account?
        <a href="{% url 'login' %}?next={{ request.path }}" class="ml-2 mx-2">Sign In</a>
      </small>
    </div>
  {% endif %}
</strong>
