{% extends "base.html" %}
{% load static %}
{% block page_title %}
  Pets Adoption
{% endblock page_title %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "pets/styles/index.css" %}">
  <link rel="stylesheet" href="{% static "pets/styles/includes/post.css" %}">
{% endblock css_files %}
{% block content %}
  <!-- home section starts  -->
  <section class="py-5" id="home">
    <div class="row justify-content-evenly align-middle">
      <!-- here data-aos is used for adding aos animation  -->
      <div class="col-10 col-md-6 text-center text-md-start welcome"
           data-aos="slide-right"
           data-oas-duration="2000"
           data-osdelay="500">
        <h1 class="py-4">
          Hello!
          <br>
          Welcome to
          <span class="span-color fw-bold">Pet Adoption <i class="fa-solid fa-paw"></i></span>
        </h1>
        <p class="text-muted fs-4 py-4">
          where we help pets find loving homes. With years of experience, we're dedicated to connecting pets in need with families ready to give them a new beginning. Let's find the perfect companion for you today!
        </p>
        <p class="text-muted fs-4">
          <strong>At Pet Adoption</strong>, we believe every pet deserves a loving home <i class="fa-solid fa-house"></i>.
          <br>
          Our mission is to make the adoption process easy and rewarding for both pets and their new families. Explore our latest listings to find your perfect companion today!
        </p>
        <a href="#About Us" class="link ms-4 d-none"></a>
      </div>
      <div class="col-10 col-md-5 d-none d-md-block">
        <img src="{% static "pets/images/main_pic.png" %}" class="img-fluid" data-aos="slide-left" alt="pet with new family" />
      </div>
    </div>
  </section>
  <!-- home section ends here -->
  <!-- About page start -->
  <section class="py-5" id="about">
    {% include "pets/includes/about.html" %}
  </section>
  <!-- About page ends here-->
  <!-- Letest Posts section start -->
  <section class="py-5" id="posts">
    {% include "pets/includes/post.html" %}
  </section>
  <!-- Latest posts section ends here-->
{% endblock content %}
