{% extends "base.html" %}
{% load static %}
{% block page_title %}
  Pets Adoption
{% endblock page_title %}
{% block css_files %}
  <link rel="stylesheet" href="">
{% endblock css_files %}
{% block content %}
  <!-- home section starts  -->
  <section class="pt-5 pb-5" id="home">
    <div class="row justify-content-evenly align-middle">
      <!-- here data-aos is used for adding aos animation  -->
      <div class="col-10 col-md-6 text-center text-md-start"
           data-aos="slide-right"
           data-oas-duration="2000"
           data-osdelay="500">
        <h2>
          Hello!
          <br>
          Welcome to
          <br />
          <span class="span-color">Pet Adoption</span>
        </h2>
        <p class="text-muted">
          where we help pets find loving homes. With years of experience, we're dedicated to connecting pets in need with families ready to give them a new beginning. Let's find the perfect companion for you today!
        </p>
        <p class="text-muted">
          <strong>At Pet Adoption</strong>, we believe every pet deserves a loving home. Our mission is to make the adoption process easy and rewarding for both pets and their new families. Explore our latest listings to find your perfect companion today!
        </p>
        <button class="btn btn-outline-warning mt-3 py-3 px-5 rounded-pill">
          <span class="fw-bold text-dark">About Us</span>
        </button>
        <a href="#{% static "about" %}" class="link ms-4 d-none"></a>
      </div>
      <div class="col-10 col-md-4 d-none d-md-block">
        <img src="{% static "pets/images/main_pic.png" %}" class="img-fluid" data-aos="slide-left" alt="pet with new family" />
      </div>
    </div>
  </section>
  <!-- home section ends here -->
{% endblock content %}
