{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ post.title }}
{% endblock title %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "pets/styles/post-detail.css" %}">
{% endblock css_files %}
{% block content %}
  <section id="single-post">
    <div class="container">
      <div class="card mx-auto my-5 custom-card">
        <div class="card-body">
          <h2 class="card-title text-center py-2 fw-bold">{{ post.title }}</h2>
          <div class="row g-3">
            <div class="col-md-6 d-flex flex-column align-item-center justify-content-center h-100">
              <div class="pet-name fst-italic mb-3 text-center">
                Hey, I am {{ post.pet_name }}
                <br>
                I am {{ post.pet_age }} years old and excited to meet you!
                <span class="text-success fw-bold fs-5 ps-2"><i class="fa-regular fa-face-smile-wink"></i></span>
              </div>
              <img src="{{ post.image.url }}"
                   alt="{{ post.title }}"
                   class="img-fluid card-image mb-3">
            </div>
            <div class="col-md-6 d-flex flex-column h-100">
              <div class="card-details py-2 px-4">
                <div class="tags mb-3">
                  {% for tag in post_tags %}<span class="badge bg-success rounded-pill fs-6 me-2">{{ tag.caption }}</span>{% endfor %}
                </div>
                <p class="author mb-2 fst-italic">
                  Author: <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a>
                </p>
                <hr>
                <div class="buttons d-flex mb-3">
                  {% if request.user == post.author %}
                    <a href="{% url "delete-post" post.slug %}"
                       class="btn btn-outline-danger me-2">Delete Post</a>
                    <a href="{% url "update-post" post.slug %}"
                       class="btn btn-outline-success">Update Post</a>
                  {% endif %}
                </div>
                <p class="date fst-italic">Published Date: {{ post.date|date:"d M, Y" }}</p>
                <p class="card-text">{{ post.content | safe }}</p>
              </div>
              <div class="text-center fs-1 bg-transparent border-0">
                <span>{% include "pets/includes/like-post.html" %}</span>
                {% if post.likes.count == 1 %}
                  <small class="text-muted fs-5">{{ post.likes.count }} user likes this post</small>
                {% else %}
                  <small class="text-muted fs-5">{{ post.likes.count }} users likes this post</small>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="comment-verified">
    {% if messages %}
      <div class="messages my-3 text-center fw-bold text-success">
        {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
      </div>
    {% endif %}
  </section>
  <section id="comments">
    <h3 class="text-center my-3 fw-bold">Community Feedback</h3>
    <div>
      <ul>
        {% for comment in comments %}
          <li>
            <h2>{{ comment.author.username }}</h2>
            <small class="text-muted">{{ comment.created_at|date:"d M, Y H:i:s" }}</small>
            <p>{{ comment.text|linebreaks }}</p>
            <div class="my-3">{{ comment.content }}</div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <section id="comment-section" class="row mb-5 mx-auto">
    <h3 class="text-center my-1 fw-bold">Leave Your Comment</h3>
    <span class="my-3">Written by: {{ user.username }}</span>
    {% if request.user.is_authenticated %}
      <form action="{% url "post-detail-page" post.slug %}"
            method="POST"
            id="comment-form">
        {% csrf_token %}
        {% for form_field in comment_form %}
          <div class="my-3">
            {{ form_field.label_tag }}
            {{ form_field }}
            {{ form_field.errors }}
          </div>
        {% endfor %}
        <div class="submit d-flex justify-content-center">
          <button type="submit" class="btn py-3 d-block">Save Comment</button>
        </div>
      </form>
    {% else %}
      <h3 class="text-center my-3 text-danger">Only registered users can add comments!</h3>
      <div class="pt-3 px-4">
        <small class="text-muted">Need an account?
          <a href="{% url 'register' %}" class="ml-2 mx-2">Sign Up</a>
        </small>
      </div>
      <div class="py-4 my-3 px-4">
        <small class="text-muted mb-3">Already have an account?
          <a href="{% url 'login' %}" class="ml-2 mx-2">Sign In</a>
        </small>
      </div>
    {% endif %}
  </section>
{% endblock content %}
