{% extends "base.html" %}
{% load static %}
{% block page_title %}
  All Posts
{% endblock page_title %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "pets/styles/posts.css" %}">
  <link rel="stylesheet" href="{% static "pets/styles/includes/post.css" %}">
{% endblock css_files %}
{% block content %}
  <section id="posts">
    <h2 class="py-5">
      The latest Post<i class="fa-solid fa-medal"></i>
    </h2>
    <ul>
      {% include "pets/includes/post.html" %}
      {% include "pets/includes/post.html" %}
    </ul>
  </section>
{% endblock content %}
