<div class="container-fluid p-3"
     data-aos="fade-up"
     data-aos="flip-up"
     data-aos-duration="1000"
     data-aos-easing="ease-in-out">
  <div class="row mt-4">
    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">About Pet Adoption</h5>
      <p>
        At Pet Adoption, our mission is to connect pets with compassionate individuals looking to adopt.
        We believe every pet deserves a second chance at finding a forever home, and we are committed to making the adoption process smooth and stress-free for both the pet and the owner.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <div class="form-outline mb-4">
        <div class="form-notch">
          <div class="form-notch-leading me-1"></div>
          <div class="form-notch-middle me-1"></div>
          <div class="form-notch-trailing"></div>
        </div>
      </div>
      <ul class="fa-ul me-4">
        <li class="mb-3">
          <span class="fa-li"><i class="fa-solid fa-house"></i></span><span class="ms-2">Herzgasse 5, Vienna ,Austria</span>
        </li>
        <li class="mb-3">
          <span class="fa-li"><i class="fa-solid fa-envelope"></i></span><span class="ms-2">info-pet@example.com</span>
        </li>
        <li class="mb-3">
          <span class="fa-li"><i class="fa-solid fa-phone-volume"></i></span><span class="ms-2">+ 43 234 567 89</span>
        </li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">Opening hours</h5>
      <table class="table text-center text-white">
        <tbody class="font-weight-normal">
          <tr>
            <td>Mon - Thu:</td>
            <td>8am - 9pm</td>
          </tr>
          <tr>
            <td>Fri - Sat:</td>
            <td>8am - 1am</td>
          </tr>
          <tr>
            <td>Sunday:</td>
            <td>9am - 10pm</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="my-2 g-3 text-center" data-aos="fade-up">
  <a href="https://www.facebook.com/"
     data-bs-toggle="tooltip"
     data-bs-title="Our Facebook page"
     target="_blank"
     rel="noopener"
     aria-label="Visit our Facebook page (opens in a new tab)"
     class="btn btn-floating btn-warning btn-lg me-3"><i class="fa-brands fa-facebook"></i></a>
  <a href="https://www.youtube.com/"
     data-bs-toggle="tooltip"
     data-bs-title="Our Youtube Channel"
     target="_blank"
     rel="noopener"
     aria-label="Visit our YouTube page (opens in a new tab)"
     class="btn btn-floating btn-warning btn-lg me-3"><i class="fa-brands fa-youtube"></i></a>
  <a href="https://www.instagram.com/"
     data-bs-toggle="tooltip"
     data-bs-title="Our Instagram page"
     target="_blank"
     rel="noopener"
     aria-label="Visit our Instagram page (opens in a new tab)"
     class="btn btn-floating btn-warning btn-lg"><i class="fa-brands fa-square-instagram"></i></a>
</div>
<hr>
<div class="text-center pt-3 pb-5">
  © 2024 Copyright:
  <a class="text-white fst-italic fw-bold"
     href="https://pet-adoptions-9841a93e0575.herokuapp.com/"
     data-bs-toggle="tooltip"
     data-bs-title="Visit our homepage">Pet-Adoption</a>
</div>
