#newest {
  background-color: hsl(30, 53%, 66%);
}

#newest .heading a,
.recent .card a {
  font-family: var(--lato-font);
  font-size: 1.2rem;
  color: hsl(182, 38%, 35%);
  text-decoration: none;
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

#newest .heading a:hover,
#newest .heading a:active,
.card:hover,
.card:active {
  transition: transform 0.25s ease-in-out;
  transform: scale(1.1);
  color: var(--neutral-color);
}
